<!-- Toolbar -->
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-button-container favorite-icon" aria-label="Favorite" routerLink="/sales">
        <mat-icon>favorite</mat-icon>
        Sales
    </button>
    <button mat-icon-button class="example-button-container" aria-label="Share" routerLink="/accounts">
        <mat-icon>share</mat-icon>
        Accounts
    </button>
</mat-toolbar>